
@media only screen and (max-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: [start] 1fr [end]; 
        grid-template-rows: auto;
    }
    
    .element {
        grid-column-start: auto;
        grid-column-end: auto;    
        grid-row-start: auto;
        grid-row-end: auto;    
    }    
}

@media only screen and (min-width: 751px) {
    .container {
        display: grid;
        grid-template-columns: [start] 1fr 1fr [end];
        grid-template-rows: auto;
    }
        
    .element {
        grid-column-start: auto;
        grid-column-end: auto;    
        grid-row-start: auto;
        grid-row-end: auto;    
    }    
}

.element {
    background-color: #ffffff;
}

.title {
    grid-column-start: start;
    grid-column-end: end;    
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--main-bg-color);
    color: white;    
}

.title p {
    margin-top: 0.5ex;
    font-size: 80%;
}

.container .title h1{
    font-weight: normal;
}

.container .title h2{
    font-weight: 200;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    grid-gap: 4px;
}

.container > div {
    padding: 2ex
}

.container > div > h1 {
    margin: 0;  
    font-size: 140%;
    font-weight: normal;
}

.container > div > h2 {
    margin: 0;  
    font-size: 100%;
    font-weight: normal;
    font-weight: 200;
}

.wrapper {
    padding: 4px;
    background-color: var(--main-bg-color);
}


