@media only screen and (max-width: 1000px) {
    .container {
        display: grid;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-columns: [start] 100% [end]; 
        grid-template-rows: auto;
    }
    
    .element {
        grid-column-start: auto;
        grid-column-end: auto;    
        grid-row-start: auto;
        grid-row-end: auto;    
    }    
}

@media only screen and (min-width: 1001px) {
    .container {
        display: grid;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-columns: [start] 25% 25% 25% 25%  [end];
        grid-template-rows: auto;
    }
        
    .element {
        grid-column-start: auto;
        grid-column-end: auto;    
        grid-row-start: auto;
        grid-row-end: auto;    
    }    
}

.title {
    grid-column-start: start;
    grid-column-end: end;    
    grid-row-start: 1;
    grid-row-end: 2;
}

.container {
    font-family: 'Roboto Light', sans-serif;
    font-size: 10pt;
}

.container > div {
    border-radius: 5px;
    border-color: lightgray;
    border-width: thin;
    border-style: solid;
    box-shadow: 3px 3px 3px 0px rgba(211,211,211,0.50); ;
    margin: 0.5ex;
    padding: 2ex
}

.container > div > h1 {
    margin: 0;  
    font-size: 160%;
    font-weight: normal;
}

.container > div > h2 {
    margin: 0;  
    font-size: 120%;
    font-weight: normal;
    color: gray;
}


